# Dependencies
node_modules/

# Build artifacts
build/

# Environment variables
.env

# VS Code settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Truffle-specific files
.truffle-solidity-loader/
.truffle-debug.log